[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
	branch = master
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/lygstate/buildroot.git
	branch = riscvbe/dev-gcc15
[submodule "vitetris"]
	path = vitetris
	url = https://github.com/lygstate/vitetris.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/lygstate/u-boot
	branch = bjdooks/cva6_forward2
[submodule "opensbi"]
	path = opensbi
	url = https://gitlab.com/lygstate/opensbi.git
